<!DOCTYPE html>
<html>
<head>
  <title>Code Trial</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.js" %>
  <%= csrf_meta_tags %>
</head>

<% if @bg %>
<body background="<%= image_path("bg.png") %>" style="background-size: cover; background-repeat: no-repeat;">
<% else %>
<body>
<% end %>


<div class='navbar navbar-inner navbar-fixed-top'>
<div id="navbar-container" class='container'>
<a class='brand head-text' href="<%= root_path %>">CodeTrial</a>
<div class='pull-right'>
<a class='brand head-text' href="<%= new_interview_path %>">Start</a>
<a class='brand head-text' href="<%= interviews_path %>">Evaluate</a>
</div>
</div>
</div>

<br>

<%= yield %>

</body>
</html>
